@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antilaliased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: rgb(255, 250, 250);
}

p {
  line-height: 28px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 110px;
  display: flex;
}